body {
    font-family: cursive, Arial, Helvetica, sans-serif;
}
.container {
    width: 500px;
    margin: 20px auto;
}
.form {
    background-color: #eee;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50px;
    flex: 1;
    font-family: cursive, Arial, Helvetica, sans-serif;
}
.input:focus {
    outline: none;
}
.add {
    border: none;
    background-color: #3cc0fb;
    color: white;
    padding: 10px;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    font-family: cursive, Arial, Helvetica, sans-serif;
}
.tasks {
    background-color: #eee;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
}
.tasks .task {
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #ccc;
}
.tasks .task:not(:last-child) {
    margin-bottom: 15px;
}
.tasks .task:hover {
    background-color: #f7f7f7;
}
.tasks .task.done {
    opacity: 0.5;
}
.tasks .task span {
    font-weight: bold;
    font-size: 10px;
    background-color: #F44336;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    cursor: pointer;
}
